<div class="jumbotron">
  <h1 class="display-4" "text-center">EchoJS Geek Scraper</h1>
  </p>
</div>

<div>
  <a class="nav-button btn btn-primary" href="/article" role="button" id="scrape"> Scrape</a>
  <h1>New Articles</h1>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Link</th>
      <th>Notes</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {{!-- Our Handlebars code goes here! --}} {{#each Articles}}
    <tr>
      <td>{{Title}}</td>
      <td>
        <a href="{{URL}}">{{URL}}</a>
      </td>
      <td>{{Notes}}</td>
      <td>{{Date}}</td>
      <td><span class="delete glyphicon glyphicon-remove" data-id="{{this._id}}"></span></td>
    </tr>
    {{/each}} {{!--
    <td>
      <span class="delete glyphicon glyphicon-remove" data-id="{{id}}"></span>
    </td> --}}
  </tbody>
</table>